<%include ../common/header.ejs%>
<style>
.row{
    margin-bottom: 10px;
}
</style>
<!-- USE VUE.JS -->
<div class="container-fluid" id="main" v-cloak>
    <H1>Hello, Welcome to <span v-text="name"></span> World!</H1>

    <div class="container-fluid">
        <div id="game">
            <div class="row">
                <h2>숫자 맞추기</h2>
            </div>
            <div class="row">
                <span v-once v-if="value > cor">보다 작네</span>
                <span v-else-if="value == cor">정답이네</span>
                <span v-else="value < cor">보다 크네</span>
            </div>
            <div class="row">
                <input class="col-lg-3 col-md-5 col-sm-7" type="text" v-model="value"/>
                <button id="reset" class="btn btn-sm btn-primary">리셋</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <span> Card Header </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <input type="text" class="form-control" value="HELLO! 12"/>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <input type="text" class="form-control" value="HELLO! 6"/>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" value="HELLO! 6"/>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <input type="text" class="form-control" value="HELLO! 4"/>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" value="HELLO! 4"/>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" value="HELLO! 4"/>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <input type="text" class="form-control" value="HELLO! 3"/>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" value="HELLO! 3"/>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" value="HELLO! 3"/>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" value="HELLO! 3"/>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <span> card footer ... </span>
        </div>
    </div>
</div>
<%include ../common/footer.ejs%>
<script src="/js/main.js"></script>