
</body>
</html>
<script src="/lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
<script src="/lib/bootstrap-4.0.0/js/bootstrap.min.js"></script>
<script src="/lib/bootstrap-table-1.12.0/js/bootstrap-table.min.js"></script>
<script src="/lib/echart/echart.min.js"></script>
<script src="/lib/vue/vue.js"></script>
